/* ------------------pagina ERROR 404--------------------*/

.main__titulo__error404{
    font-size: 4rem;
}

.body__error404__imagen1{
height: 150px;
}

.body__error404__imagen2{
    height: 150px;
}

.main__error404__logoSwim{
    padding-left: 40px;
    padding-right: 40px;
}
/* --------------- FIN pagina ERROR 404--------------------*/