
/*-----------------LOGOS ASIDE Y FOOTER-------------*/

.logoFacebook{
    width: 35px;
    height: 35px;
        &:hover{
        transform: scale(1.2, 1.2);
            }
}


.logoInstagram{
    width: 35px;
    height: 35px;
        &:hover{
            transform: scale(1.2, 1.2);
            }
}


.logoWhatsApp{
    width: 35px;
    height: 35px;
        &:hover{
            transform: scale(1.2, 1.2);
            } 
}

/*--------------FIN LOGOS ASIDE Y FOOTER-------------*/