
/*-------------------------MEDIA QUERIES---------------*/
@media only screen and (max-width:991px){
    .aside__redesSwim{
        display:none;
       }
    .main__Contacto__mapaSwim{
        width: 300px;
       }
    
    .main__Contacto{
        height: 160rem;
       }
       .main__parrafoActividades{
           height: auto;
       }
       .main__Actividades{
        height:auto;
       }

}

@media only screen and (max-width: 768px){
    .footer__texto{
    display: none;
    }
   
   .footer__imagenLogo{
   display: none;
   }
   
   .footer__logos{
    display: grid;
    grid-template-columns: 20px;
   }
    
   
   .main__Contacto{
    height: 150rem;
   }
   .main__Contacto__mapaSwim{
    width: auto;  
   }
   
   .main__homeSwim__imagenCarrousel {
    width: 430px;
    height: 320px;
   
   }
  
   
   .header__imagenLogo{
    width:10rem;
    height:6rem;
   }
   .main__menuConActividades{
       li{
        padding: 0px;
       }
   }
   .main__productos{
    height: auto;
}
  
   }





   @media only screen and (max-width: 481px){
        
    .main__formasDePago{
        height: 700px;
    }
        
   }






  
   @media only screen and (max-width: 320px) {
    .main__homeSwim__imagenCarrousel {
        width: 320px;
        height: 260px;
        }
   .main__menuConActividades{
    display: grid;
    grid-template-columns: 170px;
    justify-content: center;
    
   }
   
   .main__submenuActividades{
    position: absolute;
    display:none;
        ul{
            display: block;
            }
        li button{
            margin-bottom: 1rem;
            display: grid;
            grid-template-columns: 110px;
            justify-content: center;
                }
    }
    .main__Actividades{
        height:auto;
       }
       .main__formasDePago{
        height: 600px;
    }
    .main__productos{
        height: 150rem;
    }
    .card{
        margin-bottom: 20px;
    }

  
   }
/*------------------------FIN MEDIA QUERIES-------------------*/