
/*-------------PAGINA NOSOTROS SWIM-----------------*/
.main__nosotros{
    height: 800px;;
}

.main__nosotros__parrafo0{

    
    font-style:normal;
    font-weight:normal;
    font-size:2.5rem;
    text-align:center;
    color: rgba($color: #e2fa0a, $alpha: 1.0);
}

    
.main__nosotros__parrafo1{

    
    font-style:normal;
    font-weight:normal;
    font-size:2rem;
    text-align:center;
    color: white;
    
}
.main__nosotros__parrafo2{

    
    font-style:normal;
    font-weight:normal;
    font-size:2rem;
    text-align:center;
    color: white;
    
}
.main__nosotros__parrafo3{

    
    font-style:normal;
    font-weight:normal;
    font-size:2rem;
    text-align:center;
    color: white;
    
}
.main__nosotros__parrafo4{

    
    font-style:normal;
    font-weight:normal;
    font-size:2rem;
    text-align:center;
    color: white;
    
}
.main__nosotros__parrafo5{

    
    font-style:italic;
    font-weight:bold;
    font-size:3rem;
    text-align:center;
    color: rgba($color: #b3eb1a, $alpha: 1.0);
    
}
/*----------FIN PAGINA NOSOTROS SWIM-----------------*/
