
/*-------------PAGINA NOSOTROS SWIM-----------------*/
.main__nosotros__parrafo{
    border: 3px solid black;
    background: linear-gradient(to right, #EAECC6, #2BC0E4); 
    font-style:normal;
    font-weight:normal;
    font-size:2rem;
    text-align:justify;

}
/*----------FIN PAGINA NOSOTROS SWIM-----------------*/
