
/*-------------PAGINA NOSOTROS SWIM-----------------*/
.main__nosotros__parrafo{

    
    font-style:normal;
    font-weight:normal;
    font-size:2rem;
    text-align:justify;
    color: white;
    
}
/*----------FIN PAGINA NOSOTROS SWIM-----------------*/
