/*-------------VARIABLES---------------------*/

@mixin logos($width,$height){
    width:$width;
    height:$height;

}

.logoFacebook{
    @include logos(35px,35px )
}

.logoInstagram{
    @include logos(35px,35px )
}
.logoWhatsApp{
    @include logos(35px,35px )
}


$parrafo:(
    parrafo1:white,
    parrafo2:#fcfdfdf3,
    parrafo3:rgba(243, 247, 250, 0.952),
);
@each $parrafo, $color in $parrafo {
    .main__productos--#{$parrafo} {
        color: $color;
    }
 }
 
 @mixin parrafosProductos($fontsize,$textalign,$fontweight){
    font-size:$fontsize;
    text-align:$textalign;
    font-weight:$fontweight;

}
.main__productos--parrafo1{
    @include parrafosProductos(1.5rem,justify,bold)
}

.main__productos--parrafo2{
    @include parrafosProductos(1.5rem,justify,bold)
}

.main__productos--parrafo3{
    @include parrafosProductos(1.5rem,justify,bold)
}

/*-------------FIN VARIABLES---------------------*/